    #class {
      text-align: center;
      color: black;
    }

    #teacher-name {
      text-align: center;
      color: black;
    }

    #school-name {
      text-align: center;
      color: black;
    }

    #table-example {
      border: solid thin;
      border-collapse: collapse;
      background-color: aquamarine;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding: 20px;
    }

    #table-example th {
      background-color: blue;
      color: white;
      vertical-align: middle;
      padding: 2px;
      border: 1px solid #ddd;
    }

    #table-example td {
      vertical-align: top;
      text-align: center;
      padding: 8px;
      border: 1px solid #ddd;
    }

    #table-example tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #table-example tr:nth-child(even):hover {
      background-color: #ddd;
    }

    #table-example tr:nth-child(odd):hover {
      background-color: #ddd;
    }
