*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(202, 167, 167), #a9adbd), url(Background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
form {
    max-width: 400px;
    width: 90%;
}
.input-box {
    margin-bottom: 10px;
    position: relative;
}
input {
    background: transparent;
    outline: 0px;
    padding: 10px;
    width: 100%;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 10px;
}

button {
    color: white;
    cursor: pointer;
    width: 50%;
    padding: 10px 0;
    outline: none;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}
