*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#c4333395, #c3455aa8), url(bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
form {
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: black;
}
.input-box {
    margin-bottom: 25px;
    position: relative;
}
input {
    background: transparent;
    outline: 0px;
    padding: 10px;
    width: 100%;
    border: 2px solid rgb(120, 108, 108);
    font-size: 15px;
    border-radius: 10px;
}

button {
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    outline: none;
    background: rgb(83, 155, 83);
    border: 2px solid #fff;
    border-radius: 10px;
}
.Head{
    color: white;
    width: 100%;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    outline: none;
    background: rgb(125, 34, 186);
    border: 2px solid #fff;
    border-radius: 10px;
    align-content: center;
    align-self: center;
}
div {
    padding: 10px;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}