*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-image: url(bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-color:  hsl(0, 100%, 74%) ;
}

.container{
    margin: 50px;
    display: flex;
}

.About-class{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about{
    width: 50%;
}

.reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1{
    font-weight: 700;
    padding: 20px 0;
    word-break: normal;
}

.content-form{
    background-color: white;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

button{
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    border: none;
}

.Contentform{
    margin:20px 0;
}

.form-input {
    width: 100%;
    padding: 15px;
    outline: none;
    color:hsl(249, 10%, 26%);
    cursor:pointer;
}

span{
    color: white;
    font-weight: 500;
}

.btn1{
    background-color: hsl(248, 32%, 49%) ;
    color: rgba(255, 255, 255, 0.856);
    padding: 25px;
}

.btn2{
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding: 20px;
    font-weight: 600;
}

.terms{
      text-align: center;
      color: hsl(246, 25%, 77%);
}

a{
      color:hsl(0, 100%, 74%) ;
      text-decoration: none;
      font-weight: 600;
}