*{
    box-sizing: border-box; 
}
body{
    background: black;
}
.Main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: minmax(100px, auto);
}
.Main > div {
    border: 2px black;
    /* background: green; */
    border-radius: none;
    padding: 10px;
}
.one {
    background-color: firebrick;
    grid-column: 1/3;
    grid-row: 2/3;
}

.two {
    background-color: pink;
    grid-column: 3/4;
    grid-row: 2;
}
.three {
    background-color: green;
    grid-column: 1/2;
    grid-row: 3/5;
}
.four {
    background-color: lightblue;
    grid-column: 2/4;
    grid-row: 3;
}
.five {
    background-color: lightblue;
    grid-column: 2/4;
    grid-row: 4
}